# 0. 데이터 분석 과정

1. 반복 학습
2. 질문하기
3. 대답하기
4. 더 고민하기

# 1. 데이터 불러오기

In [21]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# math
import math

In [17]:
## 절대 경로로 표현하기 ##

# df=pd.read_csv("C:/Users/xudeg/Documents/data-analysis/01_starwars/starwars.csv"
#                , encoding="cp949")

In [99]:
## 상대 경로로 표현하기 ##

df=pd.read_csv("./starwars.csv", encoding="cp949")
df_copy=df.copy() # df 깊은 복사본

In [100]:
# 위에서 5개의 데이터만 가져와서 확인하기
df_copy.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human

# 2. 데이터 살펴보기

* name : 캐릭터 이름
* height : 키
* mass : 몸무게
* hair_colr : 머리카락 색
* skin_color : 피부색
* eye_color : 눈동자 색
* birth_year : 생년
* sex : 생물학적 성별
* gender : 사회적 성별
* homeworld : 고향
* species : 종

**범주형 변수와 연속형 변수를 나누어서 보는 것이 좋다.**

* 범주형 변수 (빈도 계산 가능)
```
name, hair_color, skin_color, eye_color, sex, gender, homeworld, species
```


* 연속형 변수 (평균, 표준편차, min, max 등의 수치 계산 가능) 
```
height, mass, birth_year
```

In [23]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        87 non-null     object
 1   height      81 non-null     float64
 2   mass        59 non-null     float64
 3   hair_color  82 non-null     object
 4   skin_color  87 non-null     object
 5   eye_color   87 non-null     object
 6   birth_year  43 non-null     float64
 7   sex         83 non-null     object
 8   gender      83 non-null     object
 9   homeworld   77 non-null     object
 10  species     83 non-null     object
dtypes: float64(3), object(8)
memory usage: 7.6+ KB

In [25]:
# 연속형 변수에서 전체적인 수치를 파악할 수 있다.
df_copy.describe().T

            count        mean         std   min    25%    50%    75%     max
height       81.0  174.358025   34.770429  66.0  167.0  180.0  191.0   264.0
mass         59.0   97.311864  169.457163  15.0   55.6   79.0   84.5  1358.0
birth_year   43.0   87.565116  154.691439   8.0   35.0   52.0   72.0   896.0

In [28]:
# 범주형 변수에서 전체적인 수치를 파악할 수 있다.
df_copy.describe(include="object").T

           count unique             top freq
name          87     87  Luke Skywalker    1
hair_color    82     12            none   37
skin_color    87     31            fair   17
eye_color     87     15           brown   21
sex           83      4            male   60
gender        83      2       masculine   66
homeworld     77     48           Naboo   11
species       83     37           Human   35

In [38]:
# 범주형 데이터에서는 어떤 값이 들어 있는지 파악하는 것이 좋다.
print(f'name : {df_copy["name"].unique()}')

name : ['Luke Skywalker' 'C-3PO' 'R2-D2' 'Darth Vader' 'Leia Organa' 'Owen Lars'
 'Beru Whitesun lars' 'R5-D4' 'Biggs Darklighter' 'Obi-Wan Kenobi'
 'Anakin Skywalker' 'Wilhuff Tarkin' 'Chewbacca' 'Han Solo' 'Greedo'
 'Jabba Desilijic Tiure' 'Wedge Antilles' 'Jek Tono Porkins' 'Yoda'
 'Palpatine' 'Boba Fett' 'IG-88' 'Bossk' 'Lando Calrissian' 'Lobot'
 'Ackbar' 'Mon Mothma' 'Arvel Crynyd' 'Wicket Systri Warrick' 'Nien Nunb'
 'Qui-Gon Jinn' 'Nute Gunray' 'Finis Valorum' 'Jar Jar Binks'
 'Roos Tarpals' 'Rugor Nass' 'Ric Oli?' 'Watto' 'Sebulba' 'Quarsh Panaka'
 'Shmi Skywalker' 'Darth Maul' 'Bib Fortuna' 'Ayla Secura' 'Dud Bolt'
 'Gasgano' 'Ben Quadinaros' 'Mace Windu' 'Ki-Adi-Mundi' 'Kit Fisto'
 'Eeth Koth' 'Adi Gallia' 'Saesee Tiin' 'Yarael Poof' 'Plo Koon'
 'Mas Amedda' 'Gregar Typho' 'Cord?' 'Cliegg Lars' 'Poggle the Lesser'
 'Luminara Unduli' 'Barriss Offee' 'Dorm?' 'Dooku' 'Bail Prestor Organa'
 'Jango Fett' 'Zam Wesell' 'Dexter Jettster' 'Lama Su' 'Taun We'
 'Jocasta Nu' 'Ratts Tyerell' 'R4-P17' 'Wat Tambor' 'San Hill' 'Shaak Ti'
 'Grievous' 'Tarfful' 'Raymus Antilles' 'Sly Moore' 'Tion Medon' 'Finn'
 'Rey' 'Poe Dameron' 'BB8' 'Captain Phasma' 'Padm? Amidala']

In [39]:
print(f'hair color : {df_copy["hair_color"].unique()}')
print(f'skin color : {df_copy["skin_color"].unique()}')
print(f'eye color : {df_copy["eye_color"].unique()}')

hair color : ['blond' nan 'none' 'brown' 'brown, grey' 'black' 'auburn, white'
 'auburn, grey' 'white' 'grey' 'auburn' 'blonde' 'unknown']
skin color : ['fair' 'gold' 'white, blue' 'white' 'light' 'white, red' 'unknown'
 'green' 'green-tan, brown' 'pale' 'metal' 'dark' 'brown mottle' 'brown'
 'grey' 'mottled green' 'orange' 'blue, grey' 'grey, red' 'red' 'blue'
 'grey, green, yellow' 'yellow' 'tan' 'fair, green, yellow' 'grey, blue'
 'silver, red' 'green, grey' 'red, blue, white' 'brown, white' 'none']
eye color : ['blue' 'yellow' 'red' 'brown' 'blue-gray' 'black' 'orange' 'hazel' 'pink'
 'unknown' 'red, blue' 'gold' 'green, yellow' 'white' 'dark']

In [41]:
# 범주가 적은 경우에는 나눠서 그래프로 그려보는 것이 좋다.
# gender와 sex를 이용할 예정이다.
print(f'sex : {df_copy["sex"].unique()}')
print(f'gender : {df_copy["gender"].unique()}')

print(f'homeworld : {df_copy["homeworld"].unique()}')
print(f'species : {df_copy["species"].unique()}')

sex : ['male' 'none' 'female' 'hermaphroditic' nan]
gender : ['masculine' 'feminine' nan]
homeworld : ['Tatooine' 'Naboo' 'Alderaan' 'Stewjon' 'Eriadu' 'Kashyyyk' 'Corellia'
 'Rodia' 'Nal Hutta' 'Bestine IV' nan 'Kamino' 'Trandosha' 'Socorro'
 'Bespin' 'Mon Cala' 'Chandrila' 'Endor' 'Sullust' 'Cato Neimoidia'
 'Coruscant' 'Toydaria' 'Malastare' 'Dathomir' 'Ryloth' 'Vulpter'
 'Troiken' 'Tund' 'Haruun Kal' 'Cerea' 'Glee Anselm' 'Iridonia' 'Iktotch'
 'Quermia' 'Dorin' 'Champala' 'Geonosis' 'Mirial' 'Serenno' 'Concord Dawn'
 'Zolan' 'Ojom' 'Aleen Minor' 'Skako' 'Muunilinst' 'Shili' 'Kalee'
 'Umbara' 'Utapau']
species : ['Human' 'Droid' 'Wookiee' 'Rodian' 'Hutt' "Yoda's species" 'Trandoshan'
 'Mon Calamari' 'Ewok' 'Sullustan' 'Neimodian' 'Gungan' nan 'Toydarian'
 'Dug' 'Zabrak' "Twi'lek" 'Vulptereen' 'Xexto' 'Toong' 'Cerean' 'Nautolan'
 'Tholothian' 'Iktotchi' 'Quermian' 'Kel Dor' 'Chagrian' 'Geonosian'
 'Mirialan' 'Clawdite' 'Besalisk' 'Kaminoan' 'Aleena' 'Skakoan' 'Muun'
 'Togruta' 'Kaleesh' "Pau'an"]

In [57]:
# 데이터의 내용 간단히 정리하기.
print(f'총 데이터의 개수 : {df_copy.shape[0]*df_copy.shape[1]}')
print(f'총 결측치의 개수 : {df_copy.isnull().sum().sum()}')
print(f'전체 데이터에서의 비율 : {((df_copy.isnull().sum().sum()) / (df_copy.shape[0]*df_copy.shape[1])) * 100 : .2f}%')
print(f'스타워즈에 등장하는 등장인물 수 : {df_copy["name"].nunique()}')
print(f'스타워즈에 등장하는 종족 수 : {df_copy["species"].nunique()}')

총 데이터의 개수 : 957
총 결측치의 개수 : 105
전체 데이터에서의 비율 :  10.97%
스타워즈에 등장하는 등장인물 수 : 87
스타워즈에 등장하는 종족 수 : 37

In [62]:
## nunique 와 count 의 차이점 ##

df_sample=pd.DataFrame({"ID" : [1, 2, 3],
                       "name" : ["Anne", "John", "Kevin"],
                       "class": [np.nan, "A", "B"]})
print(df_sample)

   ID   name class
0   1   Anne   NaN
1   2   John     A
2   3  Kevin     B

In [68]:
print(df_sample["class"].nunique()) # 종류의 개수를 세어준다.
print(df_sample["class"].count()) # 모든 개수를 세어준다.
print(df_sample["class"].size) # 결측치도 세어준다.

2
2
3

# 3. 질문하기

1. 스타워즈 캐릭터의 성별 비율?
2. 성별에 따른 캐릭터의 신장의 분포?
3. 가장 무거운 캐릭터와 가장 가벼운 캐릭터?
4. 스타워즈 캐릭터의 키와 몸무게의 상관관계 여부?

# 4. EDA

## 4-1. 결측치 제거하기

결측치 계속 처리해보고, 분석해도 된다. 무조건 결측치 모두 처리를 하고, 분석해야 된다는 마음을 버려도 된다.

In [74]:
# null 값이 있는지 없는지 확인하는 방법 : any()
df_copy.isnull().any(axis=0)

name          False
height         True
mass           True
hair_color     True
skin_color    False
eye_color     False
birth_year     True
sex            True
gender         True
homeworld      True
species        True
dtype: bool

In [71]:
df_copy.isnull().sum()

name           0
height         6
mass          28
hair_color     5
skin_color     0
eye_color      0
birth_year    44
sex            4
gender         4
homeworld     10
species        4
dtype: int64

In [81]:
# 머리색, 성별은 우리가 처리하지 않고 그대로 두도록 한다. (처리하는 것이 더 데이터를 더럽히는 일)
# 키, 몸무게는 0으로 처리하기.
df_copy["height"].fillna(0, inplace=True)
df_copy["mass"].fillna(0, inplace=True)

In [82]:
df_copy.isnull().sum()

name           0
height         0
mass           0
hair_color     5
skin_color     0
eye_color      0
birth_year    44
sex            4
gender         4
homeworld     10
species        4
dtype: int64

## 4-2. 칼럼 값 원하는 단어로 변경하기

In [101]:
df_copy[df_copy["sex"]=="none"] # 값이 있는데 none이라는 값으로 채워짐.
# Droid가 성별이 없다. (로봇이기 때문에)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
7,R5-D4,97.0,32.0,NaN,"white, red",red,NaN,none,masculine,Tatooine,Droid
21,IG-88,200.0,140.0,none,metal,red,15.0,none,masculine,NaN,Droid
72,R4-P17,96.0,NaN,none,"silver, red","red, blue",NaN,none,feminine,NaN,Droid
84,BB8,NaN,NaN,none,none,black,NaN,none,masculine,NaN,Droid

In [102]:
df_copy.loc[df_copy["sex"]=="none", "sex"]="robot"

In [103]:
print(df_copy["sex"].unique())

['male' 'robot' 'female' 'hermaphroditic' nan]

In [104]:
df_copy[df_copy["sex"].isnull()] # 값 자체가 없다.

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
36,Ric Oli?,183.0,NaN,brown,fair,blue,NaN,NaN,NaN,Naboo,NaN
39,Quarsh Panaka,183.0,NaN,black,dark,brown,62.0,NaN,NaN,Naboo,NaN
79,Sly Moore,178.0,48.0,none,pale,white,NaN,NaN,NaN,Umbara,NaN
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN